.table_programa tr, .table_programa tr td {
    border: 3px solid #FFFFFF;
    color: #000000;
    font-size: 11pt;
    padding: 15px;
    text-align: center;
}
.table_programa span {
    display: block;
    margin-top: 10px;
}
.table_programa tr.header, .table_programa tr td:first-child{
    font-weight: bolder;
	font-size: 14pt;
}
.bgyellow{
	background-color:yellow;
}
.bgblue{
	background-color:#6d9eeb;
}
.icons-size{
	width:50px;
	height:50px;
}
.android-header{
	background-color:#00b050;
	font-weight: bolder;
	color: #FFFFFF !important;
}
.android-body{
	background-color:#d2eed3;	
	font-weight: bolder;
	color: #00b050 !important;
}
.map-header{
	background-color:#e42c2c;
	font-weight: bolder;
	color: #FFFFFF !important;
}
.map-body{
	background-color:#e6b0b0;	
	font-weight: bolder;
	color: #e42c2c !important;
}
.app-header{
	background-color:#066eb6;
	font-weight: bolder;
	color: #FFFFFF !important;
}
.app-body{
	background-color:#a0bdd1;	
	font-weight: bolder;
	color: #066eb6 !important;
}
.html5-header{
	background-color:#e44d26;
	font-weight: bolder;
	color: #FFFFFF !important;
}
.html5-body{
	background-color:#fb9467;	
	font-weight: bolder;
	color: #ffffff !important;
}
.com-header{
	background-color:#ffc000;
	font-weight: bolder;
	color: #FFFFFF !important;
}
.com-body{
	background-color:#f7fad2;	
	font-weight: bolder;
	color: #808080 !important;
}